<launch>

    <!-- start up empty world -->
    <include file="$(find pr2_gazebo)/empty_world_paused.launch"/>
    
    <!-- Startup PR2 without any mechanism controllers -->
    <include file="$(find pr2_gazebo)/pr2.launch" />
    <node name="stop_r_arm" pkg="pr2_controller_manager" type="pr2_controller_manager" args="stop r_arm_controller l_arm_controller"/>
</launch>

